In [1]:
import pandas as pd

In [2]:
weather = pd.read_csv('jfk_airport_weather_data.csv', index_col='DATE')

weather.head()

,STATION,NAME,ACMH,ACSH,AWND,FMTM,PGTM,PRCP,SNOW,SNWD,...,WT13,WT14,WT15,WT16,WT17,WT18,WT19,WT21,WT22,WV01
DATE,,,,,,,,,,,,,,,,,,,,,
1970-01-01,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",80.0,90.0,NaN,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-01-02,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",30.0,20.0,NaN,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-01-03,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",80.0,100.0,NaN,NaN,NaN,0.02,0.0,0.0,...,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN
1970-01-04,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",10.0,20.0,NaN,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1970-01-05,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",30.0,10.0,NaN,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
null_pct = round(weather.isna().sum()/weather.shape[0],2)

null_pct

STATION    0.00
NAME       0.00
ACMH       0.51
ACSH       0.51
AWND       0.26
FMTM       0.48
PGTM       0.37
PRCP       0.00
SNOW       0.00
SNWD       0.00
TAVG       0.67
TMAX       0.00
TMIN       0.00
TSUN       1.00
WDF1       0.51
WDF2       0.49
WDF5       0.50
WDFG       0.74
WDFM       1.00
WESD       0.69
WSF1       0.51
WSF2       0.49
WSF5       0.50
WSFG       0.62
WSFM       1.00
WT01       0.63
WT02       0.93
WT03       0.93
WT04       0.98
WT05       0.98
WT06       0.99
WT07       0.99
WT08       0.80
WT09       0.99
WT11       1.00
WT13       0.89
WT14       0.95
WT15       1.00
WT16       0.66
WT17       1.00
WT18       0.94
WT19       1.00
WT21       1.00
WT22       1.00
WV01       1.00
dtype: float64

In [4]:
valid_columns = weather.columns[null_pct < 0.05]

In [5]:
valid_columns

Index(['STATION', 'NAME', 'PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN'], dtype='object')

In [6]:
weather = weather[valid_columns].copy()

In [7]:
weather.columns = weather.columns.str.lower()

In [8]:
weather.head()

,station,name,prcp,snow,snwd,tmax,tmin
DATE,,,,,,,
1970-01-01,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,28,22
1970-01-02,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,31,22
1970-01-03,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.02,0.0,0.0,38,25
1970-01-04,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,31,23
1970-01-05,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,35,21

In [9]:
weather = weather.ffill()

In [10]:
weather.dtypes

station     object
name        object
prcp       float64
snow       float64
snwd       float64
tmax         int64
tmin         int64
dtype: object

In [11]:
#weather.set_index('date', inplace=True)

weather.index

Index(['1970-01-01', '1970-01-02', '1970-01-03', '1970-01-04', '1970-01-05',
       '1970-01-06', '1970-01-07', '1970-01-08', '1970-01-09', '1970-01-10',
       ...
       '2023-06-11', '2023-06-12', '2023-06-13', '2023-06-14', '2023-06-15',
       '2023-06-16', '2023-06-17', '2023-06-18', '2023-06-19', '2023-06-20'],
      dtype='object', name='DATE', length=19529)

In [12]:
weather.index = pd.to_datetime(weather.index)

In [13]:
weather.index.year.value_counts().sort_index()

DATE
1970    365
1971    365
1972    366
1973    365
1974    365
1975    365
1976    366
1977    365
1978    365
1979    365
1980    366
1981    365
1982    365
1983    365
1984    366
1985    365
1986    365
1987    365
1988    366
1989    365
1990    365
1991    365
1992    366
1993    365
1994    365
1995    365
1996    366
1997    365
1998    365
1999    365
2000    366
2001    365
2002    365
2003    365
2004    366
2005    365
2006    365
2007    365
2008    366
2009    365
2010    365
2011    365
2012    366
2013    365
2014    365
2015    365
2016    366
2017    365
2018    365
2019    365
2020    366
2021    365
2022    365
2023    171
Name: count, dtype: int64

In [14]:
weather['target'] = weather.shift(-1)['tmax']

In [15]:
weather.head()

,station,name,prcp,snow,snwd,tmax,tmin,target
DATE,,,,,,,,
1970-01-01,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,28,22,31.0
1970-01-02,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,31,22,38.0
1970-01-03,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.02,0.0,0.0,38,25,31.0
1970-01-04,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,31,23,35.0
1970-01-05,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,35,21,36.0

In [16]:
weather = weather.ffill()

NameError: name 'a' is not defined

In [22]:
from sklearn.linear_model import Ridge

rr = Ridge(alpha=0.1)

In [24]:
predictors = weather.columns[~weather.columns.isin(['target', 'name', 'station'])]

predictors

Index(['prcp', 'snow', 'snwd', 'tmax', 'tmin'], dtype='object')

In [26]:
'''
For time series dataset, we have to be careful not to use future data for prediction. 
We can use a techniques called back test, which takes passed data to predict future data.
'''

def backtest(weather,model, predictors, start=3650, step=90):
    all_predictions=[]
    
    for i in range(start, weather.shape[0], step):
        train = weather.iloc[:i,:]
        test = weather.iloc[i:(i+step),:]
        
        model.fit(train[predictors], train['target'])
        
        preds = model.predict(test[predictors])
        
        preds = pd.Series(preds, index=test.index)
        combined = pd.concat([test['target'], preds], axis=1)
        
        combined.columns = ['actual', 'prediction']
        
        combined['diff'] = (combined['prediction'] - combined['actual']).abs()
        all_predictions.append(combined)
    return pd.concat(all_predictions)

In [28]:
predictions = backtest(weather, rr, predictors)

predictions

            actual  prediction       diff
DATE
1979-12-30    43.0   50.229324   7.229324
1979-12-31    42.0   43.673798   1.673798
1980-01-01    41.0   41.579150   0.579150
1980-01-02    36.0   43.961887   7.961887
1980-01-03    30.0   40.204726  10.204726
...            ...         ...        ...
2023-06-16    81.0   75.935767   5.064233
2023-06-17    82.0   77.012116   4.987884
2023-06-18    77.0   79.525359   2.525359
2023-06-19    75.0   76.768870   1.768870
2023-06-20    75.0   74.840192   0.159808

[15879 rows x 3 columns]

In [30]:
from sklearn.metrics import mean_absolute_error

mean_absolute_error(predictions['actual'], predictions['prediction'])

5.149090523814569

In [32]:
predictions['diff'].mean()

5.149090523814569

In [38]:
"""
We are going to write a function of feature engineering that will help imporve the 
efficiency of the model. There are some days that we experience high temperature during winter, hence,
it is best that we calculate the average temperature and precipitation in the past few days. 
"""

def pct_diff(old, new):
    return (new - old) / old

def compute_rolling(weather, horizon, col):
    label = f'rolling_{horizon}_{col}'
    
    weather[label] = weather[col].rolling(horizon).mean()
    weather[f'{label}_pct'] = pct_diff(weather[label], weather[col])
    return weather

rolling_horizons = [3, 14]

for horizon in rolling_horizons:
    for col in ['tmax', 'tmin', 'prcp']:
        weather = compute_rolling(weather, horizon, col)

In [40]:
# Fill the missing values with zero

weather = weather.iloc[14:,:].fillna(0)
weather

,station,name,prcp,snow,snwd,tmax,tmin,target,rolling_3_tmax,rolling_3_tmax_pct,...,rolling_4_tmin,rolling_4_tmin_pct,rolling_4_prcp,rolling_4_prcp_pct,rolling_14_tmax,rolling_14_tmax_pct,rolling_14_tmin,rolling_14_tmin_pct,rolling_14_prcp,rolling_14_prcp_pct
DATE,,,,,,,,,,,,,,,,,,,,,
1970-01-29,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,49,40,47.0,41.666667,0.176000,...,33.25,0.203008,0.0050,-1.000000,34.357143,0.426195,22.285714,0.794872,0.017143,-1.000000
1970-01-30,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,47,24,36.0,45.333333,0.036765,...,30.75,-0.219512,0.0000,0.000000,35.142857,0.337398,22.500000,0.066667,0.017143,-1.000000
1970-01-31,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,36,22,48.0,44.000000,-0.181818,...,29.25,-0.247863,0.0000,0.000000,34.642857,0.039175,21.928571,0.003257,0.015714,-1.000000
1970-02-01,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,48,34,49.0,43.666667,0.099237,...,30.00,0.133333,0.0000,0.000000,35.071429,0.368635,22.571429,0.506329,0.008571,-1.000000
1970-02-02,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.11,0.0,0.0,49,36,50.0,44.333333,0.105263,...,29.00,0.241379,0.0275,3.000000,36.785714,0.332039,24.000000,0.500000,0.016429,5.695652
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-16,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.20,0.0,0.0,78,61,81.0,76.666667,0.017391,...,61.75,-0.012146,0.1100,0.818182,75.071429,0.039010,57.642857,0.058240,0.054286,2.684211
2023-06-17,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,81,60,82.0,79.666667,0.016736,...,60.75,-0.012346,0.1100,-1.000000,75.857143,0.067797,58.071429,0.033210,0.054286,-1.000000
2023-06-18,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,82,64,77.0,80.333333,0.020747,...,61.50,0.040650,0.0500,-1.000000,76.714286,0.068901,59.142857,0.082126,0.054286,-1.000000
2023-06-19,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,77,63,75.0,80.000000,-0.037500,...,62.00,0.016129,0.0500,-1.000000,76.714286,0.003724,60.071429,0.048751,0.054286,-1.000000
2023-06-20,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,75,61,75.0,78.000000,-0.038462,...,62.00,-0.016129,0.0000,0.000000,76.571429,-0.020522,60.214286,0.013049,0.052143,-1.000000

In [44]:
def expand_mean(df):
    return df.expanding(1).mean()

for col in ['tmax', 'tmin', 'prcp']:
    weather[f'month_avg_{col}'] = weather[col].groupby(weather.index.month, group_keys=False).apply(expand_mean)
    weather[f'day_avg_{col}'] = weather[col].groupby(weather.index.day_of_year, group_keys=False).apply(expand_mean)

In [48]:
weather

,station,name,prcp,snow,snwd,tmax,tmin,target,rolling_3_tmax,rolling_3_tmax_pct,...,rolling_14_tmin,rolling_14_tmin_pct,rolling_14_prcp,rolling_14_prcp_pct,month_avg_tmax,day_avg_tmax,month_avg_tmin,day_avg_tmin,month_avg_prcp,day_avg_prcp
DATE,,,,,,,,,,,,,,,,,,,,,
1970-01-29,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,49,40,47.0,41.666667,0.176000,...,22.285714,0.794872,0.017143,-1.000000,49.000000,49.000000,40.000000,40.000000,0.000000,0.000000
1970-01-30,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,47,24,36.0,45.333333,0.036765,...,22.500000,0.066667,0.017143,-1.000000,48.000000,47.000000,32.000000,24.000000,0.000000,0.000000
1970-01-31,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,36,22,48.0,44.000000,-0.181818,...,21.928571,0.003257,0.015714,-1.000000,44.000000,36.000000,28.666667,22.000000,0.000000,0.000000
1970-02-01,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,48,34,49.0,43.666667,0.099237,...,22.571429,0.506329,0.008571,-1.000000,48.000000,48.000000,34.000000,34.000000,0.000000,0.000000
1970-02-02,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.11,0.0,0.0,49,36,50.0,44.333333,0.105263,...,24.000000,0.500000,0.016429,5.695652,48.500000,49.000000,35.000000,36.000000,0.055000,0.110000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-16,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.20,0.0,0.0,78,61,81.0,76.666667,0.017391,...,57.642857,0.058240,0.054286,2.684211,77.804483,77.796296,62.567870,62.629630,0.128045,0.073519
2023-06-17,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,81,60,82.0,79.666667,0.016736,...,58.071429,0.033210,0.054286,-1.000000,77.806472,77.296296,62.566273,62.722222,0.127965,0.125926
2023-06-18,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,82,64,77.0,80.333333,0.020747,...,59.142857,0.082126,0.054286,-1.000000,77.809080,77.555556,62.567164,63.444444,0.127886,0.188519
2023-06-19,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,77,63,75.0,80.000000,-0.037500,...,60.071429,0.048751,0.054286,-1.000000,77.808577,78.870370,62.567433,64.092593,0.127806,0.090185
2023-06-20,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,75,61,75.0,78.000000,-0.038462,...,60.214286,0.013049,0.052143,-1.000000,77.806832,78.981481,62.566460,64.222222,0.127727,0.110185

In [50]:
predictors = weather.columns[~weather.columns.isin(['target', 'name', 'station'])]

In [52]:
predictors

Index(['prcp', 'snow', 'snwd', 'tmax', 'tmin', 'rolling_3_tmax',
       'rolling_3_tmax_pct', 'rolling_3_tmin', 'rolling_3_tmin_pct',
       'rolling_3_prcp', 'rolling_3_prcp_pct', 'rolling_4_tmax',
       'rolling_4_tmax_pct', 'rolling_4_tmin', 'rolling_4_tmin_pct',
       'rolling_4_prcp', 'rolling_4_prcp_pct', 'rolling_14_tmax',
       'rolling_14_tmax_pct', 'rolling_14_tmin', 'rolling_14_tmin_pct',
       'rolling_14_prcp', 'rolling_14_prcp_pct', 'month_avg_tmax',
       'day_avg_tmax', 'month_avg_tmin', 'day_avg_tmin', 'month_avg_prcp',
       'day_avg_prcp'],
      dtype='object')

In [54]:
predictions = backtest(weather, rr, predictors)

predictions

            actual  prediction      diff
DATE
1980-01-27    37.0   37.490762  0.490762
1980-01-28    31.0   39.045750  8.045750
1980-01-29    28.0   35.677386  7.677386
1980-01-30    26.0   31.366847  5.366847
1980-01-31    24.0   30.155107  6.155107
...            ...         ...       ...
2023-06-16    81.0   77.487355  3.512645
2023-06-17    82.0   78.577887  3.422113
2023-06-18    77.0   80.745799  3.745799
2023-06-19    75.0   79.026217  4.026217
2023-06-20    75.0   77.072081  2.072081

[15851 rows x 3 columns]

In [56]:
mean_absolute_error(predictions['actual'], predictions['prediction'])

4.789055408521871